/* @font-face {
	font-family: 'Avenir-Next';
	src: url("../fonts/ofont.ru_Avenir-Next.ttf") format("ttf");
} */


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.app {
	width: 90%;
	max-width: 1080px;
	background-color: #F2EDE6;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 50px 20px 50px;
	font-family: arial;

}

.app__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.app__title {
	font-weight: bold;
	font-size: 40px;
}

.app__settings {
	cursor: pointer;
	border: 0;
	background-color: #F2EDE6;
}

.app__settings-img {
	width: 30px;
	height: 30px;
}

.app__menu {
	display: flex;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 30px;
	gap: 30px;
	
}

.app__menu_item {
	color: black;
	text-decoration: none;

}

.app__menu_item:hover {
	color: #35968E;
	text-decoration: underline;
}

.app__content {
	font-size: 18px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	border-radius: 10px;
	background-color: #E1D7CC;
	margin-bottom: 30px;
}

.app__content_avatar {
	display: flex;
	gap: 20px;
}

.app__content_text {
	font-size: 20px;
	text-align: center;
	max-width: 300px;
}

.app__subtitle {
	font-size: 35px;
	font-weight: 500;
	margin-bottom: 30px;
}

.app__category {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.app__category-item {
	width: calc(50% - 25px); 
	position: relative;
	margin-bottom: 20px;
}

.app__category-img {
	width: 100%;
}

.app__category-text {
	font-size: 30px;
	font-weight: 600;
	color: white;
	display: inline-block;
	padding: 20px;
	position: absolute;
	bottom: 15px;
	left: 0;
}

.app__footer {
	position: sticky;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 90%;
	max-width: 1080px;
	padding: 20px 50px;
	background-color: #FCFAF5;
	display: flex;
	justify-content: space-around;
	font-size: 18px;
}

.item-link {
	display: flex;
	flex-direction: column;
	color: #2B7779;
	text-decoration: none;	
}

.item-link-color {
	color: #EF9E63;
}

.item-img {
	width: 30px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
}

.app__problem {
	background-color: #FCFBF7;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 20px;
	margin-bottom: 20px;
}

.app__problem-name {
	color: black;
	font-weight: 500;
	font-size: 20px;
	display: flex;
}

.app__problem-link {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 20px;
}

.app__problem-img {
	margin-left: auto;
}

.app__title-center {
	margin-left: auto;
	margin-right: auto;
}


.app__subcategory {
	display: flex;
	justify-content: flex-end;
	
}

.app__subtitle-link {
	display: flex;
	text-decoration: none;
	color: #314855;
	align-items: baseline;
}

.app__subtitle {
	font-size: 30px;
	margin-right: auto;
	
}

.app__subtitle-img {
	background-color: #314855;
	border-radius: 50%;
	height: 25px;
	width: 25px;
}

.app__subtitle-see {
	font-size: 20px;	
	margin-right: 10px;
}
